/*!
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Sowmya Seshadri
* 
* Title: Yellowed
* Author: Sowmya Seshadri
* Website: N/A
* Twitter: @seshadrisowmya
*
* View on Style Stage:
* @link https://stylestage.dev/styles/yellowed/
*/

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
:root {
  --color-primary: #172a46;
  --color-primary-alt: #00a8db;
  --color-secondary: #004ba6;
  --color-background: #f0f2f5;
  --color-text: #172a46;
  --color-light: #f7f9ff;
  --color-anchor: #003363;
  --font-family: "Inter", sans-serif;
  --font-weight-strong: 600;
  --font-size-h1: 4.209rem;
  --font-size-h2: 3.157rem;
  --font-size-h3: 2.369rem;
  --font-size-h4: 1.777rem;
  --font-size-text: 1.333rem;
  --border-radius: 8px;
}

[data-theme=dark] {
  --color-primary: #b2c1e0;
  --color-primary-alt: #3cc2c0;
  --color-secondary: #a5ccf8;
  --color-background: #212736;
  --color-text: #c2cff1;
  --color-light: #121212;
  --color-anchor: #b0d2ff;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

html[data-theme=light] body {
  background-attachment: fixed;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.0390625%200%200%200%200%200%200.03125%200%200%200%200%200%200.03125%200%200%200%200%200%200.25%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E), linear-gradient(45deg, #ffffff 37%, #a8cbff 100%);
  background-size: 512px, cover;
  background-position: center, 0% 0%;
  background-repeat: repeat, no-repeat;
}

html[data-theme=dark] body {
  background-attachment: fixed;
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cfilter%20id%3D%22noise%22%3E%20%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%20%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220.0390625%200%200%200%200%200%200.03125%200%200%200%200%200%200.03125%200%200%200%200%200%200.25%200%22%20%2F%3E%20%3C%2Ffilter%3E%20%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E), linear-gradient(45deg, #000000 37%, #002761 100%);
  background-size: 512px, auto;
  background-position: center, 0% 0%;
  background-repeat: repeat, no-repeat;
}



/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  margin: 1rem 0;
}

.toggle {
  line-height: 1;
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

:focus-visible, .toggle:focus-within {
  outline: solid medium var(--color-primary-alt);
  outline-offset: 0.25rem;
}

.toggle-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0.1rem solid var(--color-background);
  border-radius: 1rem;
  width: 3rem;
  background-color: var(--color-secondary);
  transition: all 0.3s ease;
}

.toggle-label:hover {
  background-color: var(--color-anchor);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
  color: var(--color-secondary)
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2.5rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li, form label {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
  text-decoration: underline solid 0.2rem var(--color-primary-alt);
}

a:not(.navLink):hover{
  color: var(--color-secondary);
  text-decoration: underline solid 0.2rem var(--color-anchor);
}

.apodImg {
  margin: 2rem 0;
}

#apodDate {
  display: block;
  padding: 0.5rem;
  margin: 1rem 0;
}

.apodTitle {
  margin: 0;
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}

blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 8px solid var(--color-background);
  -webkit-box-shadow: 0.25em 0.25em var(--color-primary);
          box-shadow: 0.25em 0.25em var(--color-primary);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  content: "";
  background-color: var(--color-background);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#pictureSection p:nth-of-type(1),
#apodBirthday p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

#apodQuote > p.apodCaption, #apodBQuote > p.apodBCaption {
  position: relative;
  font-size: var(--font-size-text);
  font-weight: normal;
  margin-bottom: 0;
  padding: 0 0.5em 0.5em 0.5em;
}

body {
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}

article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 75ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

header[data-theme=light]{
  --logomark-height: 3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  padding: 0 2rem;
  color: var(--color-primary);
}

header[data-theme=dark]{
  --logomark-height: 3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  padding: 0 2rem;
  color: var(--color-primary);
}

header h1 {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  place-content: center;
  padding: 0 0.5em;
  min-height: 2em;
  border-left: 20px solid var(--color-primary-alt);
  border-bottom: 20px solid var(--color-primary-alt);
  color: var(--color-primary);
}
header .container {
  padding-left: 40px;
  padding-top: 10vh;
}
header .container .link-github {
  margin-top: 20px;
}
header h2 {
  max-width: 30ch;
  text-align: left;
}
header p {
  margin: 2rem 0 1.5rem;
}
@media (max-width: 768px) {
  header {
    min-height: 40vh;
  }
  header h1 {
    border-left: 10px solid var(--color-primary-alt);
    border-bottom: 10px solid var(--color-primary-alt);
  }
  header .container {
    padding-left: 20px;
  }
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
nav ul {
  position: fixed;
  top: 20px;
  right: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  color: var(--color-anchor);
  font-size: 1.25rem;
  text-decoration: none;
  font-weight: bold;
}
nav ul a::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-secondary);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
}
nav ul a:hover::before {
  width: 0;
}
nav ul a:hover::before, nav ul a:focus::before {
  background-color: var(--color-primary-alt);
}
nav ul li {
  margin: 0.25rem;
}
@media (max-width: 1200px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            align-items: center;
    position: relative;
    top: 0px;
    right: 0px;
  }
}

#about .container h2 {
  padding-left: 0;
}
#about section:nth-child(2) {
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 2rem;
  font-size: 1.5em;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) p:last-child a {
  font-weight: 700;
}
#about section:nth-child(2) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
#about section:nth-child(2)::before {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 300ms -webkit-transform ease-in;
  transition: 300ms -webkit-transform ease-in;
  transition: 300ms transform ease-in;
  transition: 300ms transform ease-in, 300ms -webkit-transform ease-in;
  opacity: 0.8;
  content: "";
  z-index: -1;
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    -webkit-transform: scale(2) translate(-25%, -25%);
            transform: scale(2) translate(-25%, -25%);
  }
}
@media (min-width: 769px) {
  #about .container {
    max-width: 80ch;
    margin-left: 3vw;
  }
  #about .container blockquote {
    margin-left: 2vw;
  }
  #about .container h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #about section:nth-child(2) p:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #about section:nth-child(2) ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 770px) and (max-width: 999px) {
  #about .container {
    max-width: 75ch;
  }
}

#pictureSection .container h2 {
  padding-left: 0;
}
#pictureSection .container a {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20px;
}

@media (min-width: 769px) {
  #pictureSection .container {
    max-width: 80ch;
    margin-left: 3vw;
  }
  #pictureSection .container h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #pictureSection .container a {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

#apodBirthday section:nth-child(2) li a {
  font-weight: 700;
}
@media (min-width: 769px) {
  #apodBirthday section:nth-child(2) h3 {
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  #apodBirthday .container {
    margin-left: 3vw;
    padding-left: 0;
    padding-bottom: 0;
  }
  #apodBirthday .container h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0;
  }
}

.credits {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 5vh;
  padding: 1.25rem;
  z-index: 1;
  border-bottom: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
}
.credits h4 {
  margin: 0;
  color: var(--color-primary);
  text-align: center;
}
.credits .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.credits .container > a {
  min-height: 2em;
  border: 3px solid currentColor;
}
.credits ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.credits ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.45em;
}
.credits ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.credits ul li span:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  word-break: break-word;
}
.credits ul li span:nth-child(2) a {
  color: inherit;
}
@media (min-width: 180ch) {
  .credits {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-width: 0;
  }
  .credits ul {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .credits ul li {
    padding: 0;
  }
  .credits ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  color: var(--color-text);
}
.page-footer ul a.link-twittercontact, .page-footer ul a.link-github{
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-background);
  color: var(--color-primary-alt);
}
.page-footer ul a.link-twittercontact:focus, .page-footer ul a.link-twittercontact:hover, .page-footer ul a.link-github:focus, .page-footer ul a.link-github:hover{
  color: var(--color-text);
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

[class^=link], #submitDate {
  min-height: 3em;
  background-color: var(--color-primary);
  color: var(--color-light);
}

[class^=link], .credits .container > a, #submitDate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.75em;
    font-size: 1.125rem;
    border: 0;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 10px rgba(46, 61, 73, 0.45);
          box-shadow: 0px 4px 10px rgba(46, 61, 73, 0.45);
  cursor: pointer;
}
[class^=link]:hover, [class^=link]:focus-within,
.credits .container > a:hover,
.credits .container > a:focus-within {
  border-radius: 0;
}

[class^=link]:focus, [class^=link]:focus-within,
.credits .container > a:focus,
.credits .container > a:focus-within {
  outline-color: var(--color-primary-alt);
  outline-style: solid 0.2rem;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
}

.link-allstyles {
  font-size: var(--font-size-h4);
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}