.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container>div {
	width: 100%;
	justify-content: left;
	align-items: flex-start;
}

.footer {
	margin: 2rem 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 60%;
	transition: opacity 0.2s ease-in-out;
}

.footer a:hover {
	opacity: 100%;
	transition: opacity 0.2s ease-in-out;
}


.logo {
	width: 1.5rem;
	height: 1.5rem;
}

